
*,*::before,*::after{
    margin: 0;
    padding: 0;
    transition: all .2s;
}
html{
    font-size: 62.5%;
    font-family: sans-serif;
    text-align: center;
    color: #001d66;
}
body{
    min-height: 100vh;
    background-color: #e6f4ff;
}
.pages{
    background-image: linear-gradient(to right bottom,#bae0ff,#69b1ff);

    @media (max-width:500px) {
        
        width: 100%;
        min-height: 100%;
    }
    padding: .8rem 0;
    margin: auto;
    width: 500px;
}
@keyframes breath{
    0%{transform: scale(1);};
    50%{transform: scale(1.05);};
    100%{transform: scale(1);};
}
