
*,*::before,*::after{
    margin: 0;
    padding: 0;
    transition: all .2s;
}
html{
    font-size: 10px;
    font-family: sans-serif;
    text-align: center;
    color: #002329;
}
body{
    min-height: 100vh;
    background-color: #e6f4ff;
}
.pages{
    //background-image: linear-gradient(to right bottom,#bae0ff,#69b1ff);
    background-blend-mode: screen;
    background-image: url(../media/background.webp);
    //background-color: rgba($color: #fff, $alpha: 0.7);
    min-height: 100vh;
    @media (max-width:500px) {
        width: 100%;
    }
    padding: .8rem 0;
    margin: auto;
    width: 500px;
}
@keyframes breath{
    0%{transform: scale(1);};
    50%{transform: scale(1.05);};
    100%{transform: scale(1);};
}
