.card{
    background-color: rgba(255,255,255,0.5);
    padding: 1rem;
    margin: 2rem;
    box-shadow: 1rem 1rem 2rem rgba(0,0,0,.25);
    display: flex;
    align-items: center;
    font-size: 1.6rem;
}
.s-card{
    background-color: rgba(255,255,255,0.5);
    box-shadow: 1rem 1rem 2rem rgba(0,0,0,.25);
    display: flex;
    align-items: center;
    font-size: 1.6rem;
}
.now-count{
    flex-direction: column;
    &_heading{
        font-size: 2.5rem;
    }
    &_count{
        font-size: 3.8rem;
         animation: breath .8s infinite;
        &_g{
            font-size: 2.5rem;
        }
    }
}
img{
    width: 5rem;
    height: 5rem;
}