.project-page{
    background-color: rgba($color: #fff, $alpha: 0.7);
    .achive{
        flex-direction: column;
        position: relative;
        &_heading{
            font-size: 2rem;
        }
    }
    .post{
        flex-direction: column;
        padding: 0;
        &_heading{
            font-size: 2rem;
        }
        &_img{
            width: 100%;
            height: auto;
        }
    }
    .video{
        flex-direction: column;
        @media (max-width:500px) {height: 48vw;}
        height: 24rem;
        position: relative;
        iframe{
            position: absolute; width: 100%; height: 100%; left: 0; top: 0;
        }
    }
}
.bg-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;//背景视频放到其他元素之后
    opacity: 0.2;
    &-content{
        height: 100%;
        width: 100%;
        object-fit: cover;//填充满父元素并保持纵横比
    }
}
